<!-- hero modal window -->

<div class="hero-backdrop is-hidden" data-modal>
  <div class="hero-modal">
    <button
      type="button"
      class="hero-modal-close-btn hero-flex"
      data-modal-close
    >
      <svg class="hero-modal-close-icon" width="12" height="12">
        <use href="./img/icons.svg#close-dark"></use>
      </svg>
    </button>
    <strong class="hero-modal-description"
      ><span class="hero-title-buy">BUY</span>NOW</strong
    >
    <ul>
      <li>
        <div class="hero-modal-container">
          <img
            src="./img/section-components/mobile-and-tablet/img-1-84@1x.jpg"
            alt=""
            width="84"
            height="69"
          />
          <button class="hero-order-button" type="button">100 g</button>
        </div>
      </li>
      <li>
        <div class="hero-modal-container">
          <img
            src="./img/section-components/mobile-and-tablet/img-2-84@1x.jpg"
            alt=""
            width="84"
            height="69"
          />
          <button class="hero-order-button" type="button">200 g</button>
        </div>
      </li>
      <li>
        <div class="hero-modal-container">
          <img
            src="./img/section-components/mobile-and-tablet/img-3-84@1x.jpg"
            alt=""
            width="84"
            height="69"
          />
          <button class="hero-order-button" type="button">300 g</button>
        </div>
      </li>
    </ul>
    <form name="hero-modal-form" autocomplete="on">
      <label class="hero-modal-label" for="modal_name"
        >Personal information</label
      >
      <div class="hero-modal-icon-wrapper">
        <input
          class="hero-modal-input"
          type="text"
          name="modal_name"
          id="modal_name"
          placeholder="Name"
          required
        />
        <input
          class="hero-modal-input"
          type="text"
          name="modal_surname"
          id="modal_surname"
          placeholder="Surname"
          required
        />
      </div>
      <label class="hero-modal-label" for="modal_email">Email</label>
      <div class="hero-modal-icon-wrapper">
        <input
          class="hero-modal-input"
          type="text"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          name="modal_email"
          id="modal_email"
          placeholder="Enter your email"
          required
        />
      </div>
      <label class="hero-modal-label" for="modal_phone">Phone number</label>
      <div class="hero-modal-icon-wrapper">
        <svg class="hero-modal-icon" width="18" height="24">
          <use href="./img/icons.svg#"></use>
        </svg>
        <input
          class="hero-modal-input"
          type="text"
          name="modal_phone"
          id="modal_phone"
          placeholder="Phone number"
          required
        />
      </div>
      <label class="hero-modal-label" for="modal_card">Card number</label>
      <div class="hero-modal-icon-wrapper">
        <svg class="hero-modal-icon" width="18" height="24">
          <use href="./img/icons.svg#"></use>
        </svg>
        <input
          class="hero-modal-input"
          type="text"
          name="modal_card"
          id="modal_card"
          placeholder="Enter card"
          required
        />
        <svg class="hero-modal-icon" width="18" height="24">
          <use href="./img/icons.svg#"></use>
        </svg>
      </div>
      <label class="hero-modal-label" for="modal_comment">Comment</label>
      <textarea
        class="hero-modal-textarea"
        name="modal_comment"
        id="modal_comment"
        rows="6"
        placeholder="Enter text"
      ></textarea>
      <button class="modal-button button flex-list" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
