<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-hidden-title">Simply Chocolate</h1>
    <h2 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h2>
    <div class="hero-button-wrapper hero-flex">
      <ul class="hero-button-list hero-flex">
        <li class="hero-button-item">
          <button class="hero-button hero-flex" type="button">Buy now</button>
        </li>
        <li class="hero-button-item">
          <button class="hero-button hero-flex" type="button">
            How it’s made
          </button>
        </li>
      </ul>
      <div class="hero-scroll-wrapper hero-flex">
        <a class="hero-scroll-link" href="#footer">scroll down</a>
        <button class="hero-scroll-button hero-button hero-flex" type="button">
          <svg class="hero-scroll-icon" width="16" height="16">
            <use href="./images/icons.svg#hero-scroll-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
