<!-- HERO SECTION -->
<section class="section">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">Simply Chocolate</h1>
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
      <div class="hero-button-wrapper hero-flex">
        <ul class="hero-button-list hero-flex">
          <li class="hero-button-item">
            <button
              class="hero-button hero-flex"
              type="button"
              data-hero-modal-open
            >
              Buy now
            </button>
          </li>
          <li class="hero-button-item">
            <button class="hero-button" type="button">How it’s made</button>
          </li>
        </ul>
        <a class="hero-scroll-link hero-flex" href="#footer"
          >scroll down
          <svg class="hero-scroll-down">
            <use
              class="hero-scroll-icon"
              href="./img/icons.svg#scroll-down"
            ></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
