<section class="technique">
    <h2 class="technique-title">HOW IT’S MADE?</h2>
    <img class="technique-img img"
    srcset="../img/section-how-it's-made/mobile/image_335.jpg 335w,
    ../img/section-how-it's-made/tablet/image_614.jpg 614w,
    ../img/section-how-it's-made/desktop/image_600.jpg 600w,
    ../img/section-how-it's-made/mobile/image_670.jpg 670w,
    ../img/section-how-it's-made/tablet/image_1228.jpg 1228w,
    ../img/section-how-it's-made/desktop/image_1200.jpg 1200w
    "
    sizes="(min-width:1200px) 600px, (min-width:768px) 614px, (min-width:375px) 335px, 100vw "
    src="../img/section-how-it's-made/desktop/image_600.jpg" alt="cooking_chocolate"
    width: 600px;
height: 400px;>
</section>