<div class="backdrop-review is-hidden " data-modal>
    <div class="modal-review">
        <form class="form-review">
        <button class="modal-button-review" type="button" data-modal-close>
            <svg class="modal-icon-review" width="12" height="12">
            <use href="./images/icons.svg#close-dark"></use>
            </svg>
        </button>
        <p class="form-text-review">LEAVE A REVIEW ABOUT <span class="form-text-OURCHOCOLATE">OUR CHOCOLATE</span> </p>

        <div class="form-field-review">
            <input type="text" class="form-input" name="name" id="name" placeholder="Name" />
        </div>

        <div class="form-field-review">
            <input type="email" class="form-input" name="email" id="email" placeholder="Email"  />
        </div>

        <div class="form-field-review">
            <input type="tel" class="form-input" name="tel" id="tel" placeholder="Phone number" />
        </div>

        <div class="form-field-review">
            <textarea
            class="form-textarea"
            name="comment"
            id="comment"
            rows="5"
            placeholder="Enter text"
            ></textarea>
        </div>

        <div>
            <button type="button">Send</button>
        </div>
        </form>
    </div>
    </div>