<section class="section">
    <div class="container-product container">
        <h2 class="product-title">OUR
            <span class="product-selection">PRODUCTS</span>
        </h2>


        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/orange@1x.jpg" alt="Dark chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">orange</p>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button class="card-btn">45 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/applecranbrrry@1x.jpg" alt="Milk chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">APPLE&CRANBERRY</p>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button class="card-btn">50 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/limeseasalt@1x.jpg" alt="Dark chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">lime&sea salt</p>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button class="card-btn">66 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/pineapple@1x.jpg" alt="Dark chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">pineapple</p>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button class="card-btn">55 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/classicmilk@1x.jpg" alt="Milk chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">Classic</p>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button class="card-btn">45 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/honey@1x.jpg" alt="Milk chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">honey</p>
                            <p class="card-txt-lineup">Milk chocolate</p>
                            <button class="card-btn">50 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/roasted@1x.jpg" alt="Dark chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">Roasted fruits</p>
                            <p class="card-txt-lineup">Dark chocolate</p>
                            <button class="card-btn">66 UAH</button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product-card">
                        <img src="../img/our-product/classicwhite@1x.jpg" alt="White chocolate" width="230px">
                        <div class="card-txt">
                            <p class="card-txt-name">Classic</p>
                            <p class="card-txt-lineup">White chocolate</p>
                            <button class="card-btn">54 UAH</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>