<!-- Subscribe-modal -->
<div class="backdrop">
<div class="modal" data-modal>
    <button type="button" class="close-modal-btn" data-modal-close >
        <svg class="close-modal-btn-icon" width="24" height="24">
            <use href="../img/icons.svg#close-dark"></use>
        </svg>
    </button>
    <img src="../img/modal-subscribe/modal-sub_desk@1x.jpg" alt="bar-of-choclate">
    <h2 class="modal-subscribe-text">Explore our <span class="modal-subscribe-text-part">new chocolate</span>
 first!</h2>
<form class="modal-form">
    <label class="modal-form-field">
    <input type="email" name="user_email" class="modal-form-input" placeholder="Enter your email" pattern="^[a-zA-Z1-9]">
</label>
<button type="submit" class="modal-submit-btn">Submit</button>
</form>
</div>
</div>