<!-- Top sellers -->

<section>
  <h2>tOp Sellers</h2>
  <ul>
    <li>
      <img
        srcset="
          ../img/top-sellers/img-1_335.jpg 335w,
          ../img/top-sellers/img-1_344.jpg 344w,
          ../img/top-sellers/img-1_368.jpg 368w,
          ../img/top-sellers/img-1_670.jpg 670w,
          ../img/top-sellers/img-1_688.jpg 688w,
          ../img/top-sellers/img-1_736.jpg 736w
        "
        sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
        src="../img/top-sellers/img-1_335.jpg"
        alt="Chocolate with coffee and nuts"
      />
    </li>
    <li>
      <img
        srcset="
          ../img/top-sellers/img-2_335.jpg 335w,
          ../img/top-sellers/img-2_344.jpg 344w,
          ../img/top-sellers/img-2_368.jpg 368w,
          ../img/top-sellers/img-2_670.jpg 670w,
          ../img/top-sellers/img-2_688.jpg 688w,
          ../img/top-sellers/img-2_736.jpg 736w
        "
        sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
        src="../img/top-sellers/img-2_335.jpg"
        alt="Chocolate with raisins and nuts"
      />
    </li>
    <li>
      <img
        srcset="
          ../img/top-sellers/img-3_368.jpg 368w,
          ../img/top-sellers/img-3_736.jpg 736w
        "
        sizes="(min-width: 1200px) 368px, (min-width: 768px) 344px, (min-width: 375px) 335px, 100vw"
        src="../img/top-sellers/img-3_368.jpg"
        alt="Chocolate"
      />
    </li>
  </ul>
</section>
