.advantages-section{
background-color: var(--secondary-bg-cl);
}
.advantages-list{
    display:flex;
}
.advantages-list-item{
    display: flex;
    flex-direction:column;
    gap:22px;
}

.advantages-title {
    position: absolute;
    visibility: hidden;
}

.advantages-circle-icon{
display: flex;
width:62px;
height:62px;
align-items: center;
justify-content: center;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 365px;
}

.advantages-list-container{
    display: flex;
    flex-direction: column;
    gap:18px;
} 

.advantages-list-title{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 1.2;
color: var(--secondary-txt-cl);
}

.advantages-list-descr{
font-style: normal;
font-weight: 400;
color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 374px){
.advantages-section {
    max-width: 374px;
    }

.advantages-list{
 flex-direction:column;
 justify-content: center;
 align-items: center;
   padding:20px;
   gap:20px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px){
.advantages-section {
    max-width: 767px;}

.advantages-list{
    flex-direction:column;
    justify-content: center;
    align-items: center;
      padding:20px;
      gap:20px;
       }
.advantages-list-item{
        width: 308px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
.advantages-section {
    max-width: 1199px;
    }
.advantages-list{
    display: grid;
    grid-template-columns: repeat(2, auto);
justify-content: center;
padding:50px 32px;
gap: 32px 60px;
}

.advantages-list-item{
    width: 308px;
}
    li:last-child {
      padding-bottom:18px;
    }
}

@media screen and (min-width: 1200px) {
.advantages-section {
    width:100%;
    }

.advantages-list{
    justify-content: center;
    padding: 50px 0 50px 50px;
    gap:70px;
}
.advantages-list-item{
    padding-right: 18px;
    position:relative;
    max-width: 326px;
}
.advantages-list-item::after{
    content:'';
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
    width:124px;
    position: absolute;
    right: -19%;
    bottom:55%;
    }
    .advantages-list-item:last-child::after {
    display: none;
    }
}