/**
  |============================
  | HERO SECTION
  |============================
*/

.hero-flex {
  display: flex;
}

.hero-container {
  min-width: 280px;
  max-width: 320px;
  padding: 381px 20px 20px 20px;
  margin: 0 auto;

  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-cl-btn);
  background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-mob@2x.jpg);
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .hero-container {
    min-width: 335px;
    max-width: 375px;
    padding: 395px 20px 20px 20px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .hero-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    min-width: 704px;
    max-width: 768px;
    padding: 671px 40px 40px 40px;
  }
}

@media only screen and (min-width: 769px) {
  .hero-container {
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(/img/section-hero/optimized/hero-img-desk@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .hero-container {
    min-width: 1136px;
    max-width: 1200px;
    padding: 381px 40px 40px 40px;
  }
}

.hero-title {
  display: block;
  max-width: 484px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: start;
  margin-bottom: 32px;

  color: var(--secondary-txt-cl);
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .hero-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-title {
    margin: 0 572px 32px 0;
  }
}

.hero-button-wrapper {
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (min-width: 768px) {
  .hero-button-wrapper {
    flex-direction: row;
  }
}

.hero-button-list {
  list-style: none;
  gap: 12px;
  margin: 0;

  width: 100%;
  margin-bottom: 32px;
}

@media only screen and (min-width: 375px) {
  .hero-button-list {
    gap: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button-list {
    height: 45px;
    margin-bottom: 0;
  }
}

.hero-button {
  display: block;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;

  padding: 8px 14px;
  margin: 0 auto;

  color: var(--secondary-txt-cl);
  border-radius: 100px;

  transition: color var(--cubic), background-color var(--cubic);
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .hero-button {
    font-size: 14px;
    padding: 12px 28px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button {
    font-size: 14px;
    padding: 14px 40px;
  }
}

.hero-button-item:first-child .hero-button {
  min-width: 100px;
  height: 41px;
  border: none;
  background-color: var(--accent-bg-cl);
}

@media only screen and (min-width: 375px) {
  .hero-button-item:first-child .hero-button {
      min-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button-item:first-child .hero-button {
    min-width: 144px;
    height: 45px;
  }
}

.hero-button-item:last-child .hero-button {
  min-width: 127px;
  height: 41px;
  border: 1px solid var(--main-bg-cl);
  background-color: transparent;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .hero-button-item:last-child .hero-button {
    min-width: 159px;
    height: 41px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-button-item:last-child .hero-button {
    min-width: 183px;
    height: 45px;
  }
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-txt-cl);
}

.hero-modal-button:hover,
.hero-modal-button:focus,
.hero-button-item:first-child:hover .hero-button {
  background-color: var(--bg-cl-btn);
}

.hero-button-item:last-child:hover .hero-button {
  border: 1px solid var(--accent-txt-cl);
}

.hero-scroll-link {
  min-width: 107px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.17;

  color: var(--secondary-txt-cl);
  text-decoration: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .hero-scroll-link {
    min-width: 130px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    padding-top: 7px;
  }
}

.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: var(--accent-txt-cl);
}

.hero-scroll-down {
  padding: 6px;
  border-radius: 50%;
  background-color: var(--main-bg-cl);
}

.hero-scroll-icon {
  width: 16px;
  height: 16px;
  fill: var(--accent-txt-cl);
}

@media only screen and (min-width: 768px) {
  .hero-scroll-icon {
    width: 22px;
    height: 22px;
  }
}

.hero-scroll-link:hover .hero-scroll-icon,
.hero-scroll-link:focus .hero-scroll-icon {
  fill: var(--secondary-txt-cl);
}

.hero-scroll-down {
  width: 28px;
  height: 28px;
}

@media only screen and (min-width: 768px) {
  .hero-scroll-down {
    width: 38px;
    height: 38px;
    padding: 8px;
  }
}

.hero-scroll-link:hover .hero-scroll-down,
.hero-scroll-link:focus .hero-scroll-down {
  background-color: var(--accent-bg-cl);
}