
.reviews-sec{

}

.reviews{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
margin-bottom: 32px;
}

@media only screen and (min-width: 375px) {
.reviews-title{
font-size: 24px;
line-height: 1.17; 
  }
}

@media only screen and (min-width: 768px) {
    .reviews-title {
margin-bottom: 49px;
    }
}

.title-chocolate {
color: var(--accent-txt-cl);
}


.reviews-list {
text-align: center;
display: flex;
flex-wrap: wrap;
}

.reviews-item {
}

.reviews-img {
margin: auto;
margin-bottom: 18px;

position: absolute;
left: 0;
top: 10px;

}
.reviews-names {
margin-bottom: 24px;
position: relative;

}
.reviews-text {
padding-bottom: 62px;
}

@media only screen and (min-width: 768px) {
.reviews-text{
padding-bottom: 72px;
  }
}

.reviews-btn {
min-width: 222px;
height: 50px;
border-color: var(--accent-txt-cl);

margin: auto;
display: block;
margin-top: 65px;

}

@media only screen and (min-width: 768px) {
.reviews-btn{
font-size: 18px;
margin-top: 108px;
  }
}

@media only screen and (min-width: 1200px) {
  .reviews-btn {
    font-size: 18px;
    margin-top: 94px;
  }
}

.reviews-btn:hover{
background-color: var(--accent-txt-cl);
color: var(--secondary-txt-cl);
}

.reviews-btn:focus {
background-color: var(--accent-txt-cl);
color: var(--secondary-txt-cl);
}

/**
  |============================
  | Pagination styles
  |============================
*/
.swiper-slide {

width: 335px;
height: 200px;

border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
}

.swiper-slide {

}

.slider_pagination_btn {
  display: inline-block;
  padding: 6px;
  margin: 5px;
  background-color: var(--accent-txt-cl);
  border-radius: 10px;
  cursor: pointer;

  /* override default button styles */
  border: none;
  outline: none;
}

.slider_pagination_btn:hover {
  background-color: #aaa;
}

.slider_pagination_btn:focus {
  background-color: #777;
}
