/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');


:root {
  /* Font */
  --font-family: 'Montserrat', sans-serif;
  /* Background */
  --general-bg-cl:#E2E2E2;
  --main-bg-cl:#FFFFFF;
  --secondary-bg-cl: #1E1823;
  --accent-bg-cl: #FD9222;
  --list-bg-cl:#4C4C4C;
  /* txt-color */
  --main-txt-cl: #111111;
  --secondary-txt-cl:#ffffff;
  --dark-txt-cl: rgba(17, 17, 17, 0.7);
  --accent-txt-cl: #FD9222;

  /* hover */
  --bg-cl-btn: #FCF1E0;

  /*  */
  --border:#ECEDED;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

  body{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--main-txt-cl);
  }

  .container {
  /* Basic styles */
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
    outline: 2px solid red;
}
/* Tablet styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section{
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .section{
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .section{
    padding-bottom: 128px;
  }
}

.section-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 14px 40px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
}
