<style>
   

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.background-image {
  position: relative;
  background-image: url('path/to/your/image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 28px;
gap: 14px;
width: 128px;
height: 41px;
background: #FD9222;
border-radius: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media  for mobile  */
@media (max-width: 768px) {
  .background-image {
    background-position: top;
  }

  .overlay {
    width: 80%;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

/* Media for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .background-image {
    height: 500px;
    background-position: center;
  }

  .overlay {
    width: 60%;
    padding: 20px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
}

/* Media for desktop */
@media (min-width: 1024px) {
  .background-image {
    height: 600px;
    background-position: center;
  }

  .overlay {
    width: 40%;
    padding: 30px;
  }

  h1 {
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 28px;

width: 291px;
height: 48px;
  }

  p {
    width: 326px;
    height: 108px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.02em;
     color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}
  </style>
</head>
<body>